.checkbox-wrapper label {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .checkbox-wrapper input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    margin-right: 0.5em;
    border: 0.1em solid #e0e0e0;
    outline: none;
    cursor: pointer;
  }
  
  input.checked {
    background: linear-gradient(
      0deg,
      rgb(60, 59, 73) 0%,
      rgb(74, 148, 170) 13%,
      rgb(22, 175, 205) 100%
    );
    position: relative;
  }
  
  input.checked::before {
    content: "\2713";
    font-size: 1.1em;
    color: #fff;
    position: absolute;
    right: 4px;
  }
  
  .checkbox-wrapper input[type="checkbox"]:disabled {
    border-color: #c0c0c0;
    background-color: #c0c0c0;
  }
  
  .checkbox-wrapper input[type="checkbox"]:disabled + span {
    color: #c0c0c0;
  }
  
  label:has([type="checkbox"]:checked) span {
    opacity: 0.5;
    text-decoration-line: line-through;
    text-decoration-thickness: 0.1em;
  }